<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="rounded">
                <p>
                    NOIZ Promotions was born under a grey sky in early 2015, and starting as we meant to go on, we held a dozen more events within
                    a year of our first show taking place.
                </p>
                <p>
                    In this time we booked over 100 bands and artists, from local newcomers to international touring acts, and we also booked
                    UK tours for a handful of select acts.
                </p>
                <p>
                    From our flagship all-dayers to the weekday gigs, every one of our events is given the full care and attention it deserves.
                    Our work ethic and lineups have seen NOIZ quickly gaining a reputation as one of the UK's most respected
                    heavy music promoters.
                </p>
                <p>
                    Click <a (click)="navigationService.events()">HERE</a> to see all our upcoming events
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="rounded">
                <img class="center-block img-responsive" src='../../assets/about_mid.png'>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 rounded contains-columns">
        <div class="col-md-8">
            <p>
                We have several new and exciting projects that we are preparing to launch in 2017. You can sign up to our MAILING LIST or
                connect with us on <a (click)="navigationService.facebook()">FACEBOOK</a> to be first in
                line for all of our updates and announcements!
            </p>
            <img class="img-responsive" src='../../assets/p_sep.png'>
            <p>
                We are considering applications from bands playing styles including (but not limited to) Doom, Black, Sludge, Grind, Stoner,
                Death, Psych, Post-rock, Prog, Crust, Blues and Thrash. Please apply using our
                <a (click)="navigationService.contact()">FORM</a>
            </p>
        </div>
        <div class="col-md-3 offset-md-1">
            <div class="sidebar-module sidebar-module-inset">
                <img class="img-responsive" src='../../assets/NOIZLOGO1.png'>
            </div>
        </div>
    </div>
</div>