<div class="row">
  <div class="col-md-12 rounded contains-columns" *ngFor="let event of events">
    <div class="col-md-12">
      <h3>{{event.name}}</h3>
    </div>
    <div class="col-md-6" [id]="event.id">      
      <h4>{{event.start_time | date:'dd MMM yyyy - HH:mm'}}</h4>
      <h4 *ngIf="event.place">
        <a [href]="getMapLink(event.place)" target="_blank">{{event.place.location.city}}, {{event.place.name}}</a>
      </h4>
      <br />
      <div [innerHTML]="getDescription(event.description)"></div>
      <br />
      <a [href]="getFacebookLink(event.id)" target="_blank">See more</a>
      <br />
    </div>
    <div class="col-md-5 offset-md-1">
      <br />
      <img class="img-responsive" [src]="event.cover.source" />
    </div>
  </div>
</div>