<div class="row">
  <div class="col-md-12 rounded contains-columns" *ngIf="!success && !failed">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <label for="txtEmail">EMAIL:</label>
        <input id="txtEmail" [(ngModel)]="email.from" type="email" class="form-control">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <label for="ddSubject">ENQUIRY TYPE:</label>
        <select id="ddSubject" [(ngModel)]="email.subject" class="form-control">
            <option value="mailinglist">MAILING LIST</option>
            <option value="bookings">BOOKING</option>
            <option value="enquiry">GENERAL</option>
          </select>
      </div>
    </div>
    <br />
    <div class="row" *ngIf="email.subject !== 'mailinglist'">
      <div class="col-md-6 col-md-offset-3">
        <label for="txtMessage">YOUR MESSAGE:</label>
        <textarea id="txtMessage" rows="15" [(ngModel)]="email.body" class="form-control"></textarea>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button (click)="sendEmail()" class="form-control">Send</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 rounded contains-columns" *ngIf="success">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>Thanks for your message</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 rounded contains-columns" *ngIf="failed">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>We are currently experiencing an issue with this page. Please contact info@noizpromotions.com</p>
      </div>
    </div>
  </div>
</div>