<div class="row">
  <div class="col-md-12 rounded contains-columns">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <label for="txtEmail">EMAIL:</label>
        <input id="txtEmail" [(ngModel)]="email.from" type="email" class="form-control">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <label for="ddSubject">ENQUIRY TYPE:</label>
        <select id="ddSubject" [(ngModel)]="email.subject" class="form-control">
            <option value="mailinglist">MAILING LIST</option>
            <option value="bookings">BOOKING</option>
            <option value="enquiry">GENERAL</option>
          </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <label for="txtMessage">YOUR MESSAGE:</label>
        <textarea id="txtMessage" [(ngModel)]="email.body" class="form-control"></textarea>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button (click)="sendEmail()" class="form-control">Send</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="col-md-12">
        
        
        
        <label for="txtMessage">Your message</label>
        <textarea id="txtMessage"></textarea>
        <input type="submit">
    </div>
  </div>
</div>-->