<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" (click)="collapsed = !collapsed" class="navbar-toggle collapsed" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <span class="navbar-brand">
        <img class="center-block img-responsive" src="../../assets/NOIZLOGO_menu.png">
      </span>
    </div>
    <div id="navbar" class="navbar-collapse" [class.collapse]="collapsed">
      <ul class="nav navbar-nav">
        <li [class.active]="activePage('home')">
          <a (click)="collapsed = !collapsed" [routerLink]="navigationService.home()">Home</a>
        </li>
        <li [class.active]="activePage('events')">
          <a (click)="collapsed = !collapsed" [routerLink]="navigationService.events()">Events</a>
        </li>
        <li [class.active]="activePage('news')">
          <a (click)="collapsed = !collapsed" [routerLink]="navigationService.news()">News</a>
        </li>
        <li [class.active]="activePage('about')">
          <a (click)="collapsed = !collapsed" [routerLink]="navigationService.about()">About</a>
        </li>
        <li [class.active]="activePage('store')">
          <a (click)="collapsed = !collapsed" [href]="navigationService.store()">Store</a>
        </li>
        <li [class.active]="activePage('contact')">
          <a (click)="collapsed = !collapsed" [routerLink]="navigationService.contact()">Contact us</a>
        </li>        
      </ul>
      <div class="social-menu">
          <hr>
          <ul class="nav navbar-nav">
            <li><a [href]="navigationService.facebook()">Facebook</a></li>
            <li><a [href]="navigationService.youtube()">YouTube</a></li>
            <li><a [href]="navigationService.twitter()">Twitter</a></li>
            <li><a [href]="navigationService.bigcartel()">Big Cartel</a></li>
            <li><a [href]="navigationService.skiddle()">Skiddle</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>