/* You can add global styles to this file, and also import other style files */
/*@font-face {
    font-family: 'Strippe';
    src: url('assets/strippe.ttf');
}*/

@font-face { font-family: myFont; src: url('assets/myFont.otf'); }

body {
  background-color: black;
  color: white;
  font-family: myFont;
}

.rounded {
  border-radius: 10px;
  border: solid 6px white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.containsColumns {
  margin-top: 0px;
  margin-bottom: 0px;
}