@font-face { font-family: myFont; src: url('assets/myFont.otf'); }

body {
  background-color: black;
  color: white;
  font-family: myFont;
}

a {color: gray;}
a:hover {
    color: white;
}

.rounded {
  border-radius: 10px;
  border: solid 8px white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contains-columns {
    margin-left: 30px;
    margin-right: 30px;
    max-width: 95%;
  }

#input {
  color: black;
}

textarea {
  resize: vertical;
}

@media (max-width: 1200px) {
    .contains-columns {
    margin-left: 30px;
    margin-right: 30px;
    max-width: 94%;
  }
}

@media (max-width: 768px) {
  .rounded {
    border: solid 4px white;
  }
}

.loader {
  border: 8px solid gray;
  border-radius: 50%;
  border-top: 8px solid white;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}