<div class="container">
  <img class="center-block img-responsive" src='../../assets/NOIZLOGO.png'>
</div>

<div class="container">

  <div class="row">
      <div class="col-sm-8">
          <div *ngFor="let blogPost of blogPosts">
            <h2>{{blogPost.title.$t}}</h2>
            <p>{{blogPost.content.$t}}</p>
          </div>
      </div>
      <div class="col-sm-3 offset-sm-1">
          <div class="sidebar-module sidebar-module-inset">
            Some shit on the side
          </div>
      </div>
  </div>
</div>
