<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <div class="rounded">
        <a [href]="navigationService.events()">
          <img class="center-block img-responsive clickable" src='../../assets/events_cta.png'>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="rounded">
        <a [routerLink]="navigationService.news()">
          <img class="center-block img-responsive clickable" src='../../assets/news_cta.png'>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rounded">
        <a [routerLink]="navigationService.about()">
          <img class="center-block img-responsive clickable" src='../../assets/about_cta.png'>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rounded">
        <img class="center-block img-responsive clickable" src='../../assets/links_cta.png'>
      </div>
    </div>
  </div>
</div>
