@media (max-width: 991px) {
  .social-page {
    display: none;
  }
  .social-small {
      display: block;
  }
}

@media (min-width:991px) {
  .social-small {
      display: none;
  }
}

@media (max-width: 768px) {
  .social-small {
      display: none;
  }
}

.crop-height {
  /* max-width: 1200px; /* native or declared width of img src (if known) */
	max-height: 250px;
	overflow: hidden; 
}

.scale {
  /* corrects small inline gap at bottom of containing div */
	display: block; 
    width: 100%; /* corrects obscure Firefox bug */
	max-width: 100%;
    opacity: 0.5;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
}

.carousel-caption  a{
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}
carousel-caption a:hover {
    color: gray;
}
